.body-customer{
  margin-top: 0;
  background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  /*background-size: 100%;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;

}
h1{
  font-family: "Berlin Sans FB", sans-serif;
}
.p-pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
  bottom: 10px;
  border: mediumturquoise wave;
  border-radius: 50px 50px 50px 50px;
}
.p-pagination li {
  display: inline;
  text-align: center;
}
.p-pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #fff;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}
.p-pagination a.active {
  cursor: default;
}
.p-pagination a:active {
  outline: none;
}


#table{
  min-height: 600px;
}




