<app-furama-header></app-furama-header>
<div class="body-facility">

<div class="container container-table">
    <table class="table table-bordered bg-gradient text-light pt-5">
        <thead>
        <tr>
            <th>STT</th>
            <th>Tên dịch vụ</th>
            <th>Diện tích</th>
            <th>Chi phí thuê</th>
            <th>Số người tối đa</th>
            <th>Kiểu thuê</th>
            <th>Loại dịch vụ</th>
            <th>Tiêu chuẩn phòng</th>
            <th>Mô tả tiện nghi khác</th>
            <th>Diện tích hồ bơi</th>
            <th>Số tầng</th>
            <th>Dịch vụ miễn phí đi kèm</th>
            <th>Detail</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Tên dịch vụ</td>
            <td>Diện tích</td>
            <td>Chi phí thuê</td>
            <td>Số người tối đa</td>
            <td>Kiểu thuê</td>
            <td>Loại dịch vụ</td>
            <td>Tiêu chuẩn phòng</td>
            <td>Mô tả tiện nghi khác</td>
            <td>Diện tích hồ bơi</td>
            <td>Số tầng</td>
            <td>Dịch vụ miễn phí đi kèm</td>
            <td><a class="btn btn-info">Detail</a></td>
            <td><a class="btn btn-warning">Update</a></td>
            <td><a class="btn btn-danger">Delete</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Tên dịch vụ</td>
            <td>Diện tích</td>
            <td>Chi phí thuê</td>
            <td>Số người tối đa</td>
            <td>Kiểu thuê</td>
            <td>Loại dịch vụ</td>
            <td>Tiêu chuẩn phòng</td>
            <td>Mô tả tiện nghi khác</td>
            <td>Diện tích hồ bơi</td>
            <td>Số tầng</td>
            <td>Dịch vụ miễn phí đi kèm</td>
            <td><a class="btn btn-info">Detail</a></td>
            <td><a class="btn btn-warning">Update</a></td>
            <td><a class="btn btn-danger">Delete</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Tên dịch vụ</td>
            <td>Diện tích</td>
            <td>Chi phí thuê</td>
            <td>Số người tối đa</td>
            <td>Kiểu thuê</td>
            <td>Loại dịch vụ</td>
            <td>Tiêu chuẩn phòng</td>
            <td>Mô tả tiện nghi khác</td>
            <td>Diện tích hồ bơi</td>
            <td>Số tầng</td>
            <td>Dịch vụ miễn phí đi kèm</td>
            <td><a class="btn btn-info">Detail</a></td>
            <td><a class="btn btn-warning">Update</a></td>
            <td><a class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
<app-furama-footer></app-furama-footer>
