<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/006/115/725/small/black-and-white-open-book-logo-illustration-on-white-background-free-vector.jpg" alt="" width="60" height="54">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <a  style="padding-left: 10px;text-decoration: none" href="#">Đăng nhập</a>
    </div>
  </div>
</nav>
<div class="row mt-3 mb-5 ">
  <div class="col-md-12 text-center menu-book ">
    <nav>
      <a href="/html/">Cổ điển</a> |
      <a href="/css/">Văn học</a> |
      <a href="/js/">Thiếu nhi</a> |
      <a href="/python/">Chuyên ngành</a> |
      <a href="/python/">Tình cảm</a> |
      <a href="/python/">Kiếm hiệp</a> |
      <a href="/python/">Tiên hiệp</a> |
      <a href="/python/">Khoa học</a> |
      <a href="/python/">Lịch sử</a> |
      <a href="/python/">Toán học</a>
    </nav>

  </div>
</div>
<!--TITTLE-->
<div>
  <h1 class="text-center">BOOK STORE</h1>
</div>
<!--CAROUSEL-->
<div class="container p-5">
  <div class="row">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://images.pexels.com/photos/1741231/pexels-photo-1741231.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://images.pexels.com/photos/1106468/pexels-photo-1106468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://images.pexels.com/photos/256431/pexels-photo-256431.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>

  <div class="row mt-5">
    <div class="col-lg-12 text-center">
      <button class="btn btn-success shadow">SÁCH VĂN HỌC</button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2022/6/21/25TXXGOL.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2022/5/12/9YLI42GM.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2020/9/4/DKQYFA75.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/11/14/2QAYBLJW.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/11/14/C3F24YNQ.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/6/28/1A4LDY89.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2022/6/21/25TXXGOL.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2022/5/12/9YLI42GM.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2020/9/4/DKQYFA75.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/11/14/2QAYBLJW.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/11/14/C3F24YNQ.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/6/28/1A4LDY89.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
</div>

<footer id="footer">
  <div class="container bg-light">
    <div class="row">

      <div class="col-md-4">

        <div class="footer-item">
          <div class="company-brand">
            <a class="navbar-brand" href="#">
              <img src="https://static.vecteezy.com/system/resources/thumbnails/006/115/725/small/black-and-white-open-book-logo-illustration-on-white-background-free-vector.jpg" alt="logo" class="footer-logo" width="200" height="194">
            </a>
            <p></p>
          </div>
        </div>

      </div>

      <div class="col-md-2">

        <div class="footer-menu">
          <h5>Về chúng tôi</h5>
          <ul class="menu-list">
            <li class="menu-item">
              <a href="#">Giới thiệu</a>
            </li>
            <li class="menu-item">
              <a href="#">Chính sách bảo mật </a>
            </li>
            <li class="menu-item">
              <a href="#">Chính sách vận chuyển</a>
            </li>
            <li class="menu-item">
              <a href="#">Hình thức thanh toán</a>
            </li>

          </ul>
        </div>

      </div>
      <div class="col-md-2">

        <div class="footer-menu">
          <h5>Khám phá</h5>
          <ul class="menu-list">
            <li class="menu-item">
              <a href="#">Sách</a>
            </li>
            <li class="menu-item">
              <a href="#">Tác giả</a>
            </li>
            <li class="menu-item">
              <a href="#">Thể loại</a>
            </li>
            <li class="menu-item">
              <a href="#">Tùy chọn</a>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-md-2">

        <div class="footer-menu">
          <h5>Tài khoản</h5>
          <ul class="menu-list">
            <li class="menu-item">
              <a href="#">Đăng ký</a>
            </li>
            <li class="menu-item">
              <a href="#">Giỏ hàng</a>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-md-2">

        <div class="footer-menu">
          <h5>Trợ giúp</h5>
          <ul class="menu-list">
            <li class="menu-item">
              <a href="#">Quy định đổi, trả và hủy đơn hàng</a>
            </li>
            <li class="menu-item">
              <a href="#">Hướng dẫn đặt hàng</a>
            </li>
            <li class="menu-item">
              <a href="#">Liên hệ</a>
            </li>
            <li class="menu-item">
              <a href="#">Thông báo</a>
            </li>
          </ul>
        </div>

      </div>

    </div>
    <!-- / row -->

  </div>
</footer>
